# 忽略模型权重和本地保存的检查点
pretrained_models/
save/

# 顺便忽略 Python 自动生成的缓存和临时文件
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

# 显式忽略所有可能残余的大模型格式（双重保险）
*.pth
*.pt
*.ckpt
*.safetensors
mmf.egg-info/
*.so
*.log
命令.sh
